<div class="col-md-12">
  <h1>Danh sách thẻ</h1>
  <button class="create-order btn btn-primary" (click)="modal.open()">Tạo thẻ mới</button>


  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dynamic-table_wrapper" class="table table-responsive table-striped table-bordered
                    table-hover dataTable no-footer" cellspacing="0" width="100%">

      <thead>
        <tr>
          <th>Mã thẻ</th>
          <th class="text-right">Mệnh giá</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let card of cards">
          <td>{{ card._id }}</td>
          <td class="text-right">{{ card.amount | vnd }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Thêm thẻ mới</h4>
  </bs-modal-header>
  <bs-modal-body>
  <label
    class="control-label"
    [attr.for]="'amount'">Nhập mệnh giá của thẻ: </label>
    <input
      class="form-control"
      id="amount"
      type=number
      [(ngModel)]="amount">
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="modal.dismiss()">Hủy bỏ</button>
    <button type="button" class="btn btn-primary" [disabled]="amount===0" (click)="modal.close()" (click)="sendRequest()" >Tạo mới</button>
  </bs-modal-footer>
</bs-modal>